.gal-parent {
    align-content: center;
}


.gal-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.window{
    margin: auto;
    width: 55%;
    margin-bottom: 40px;
}

.carousel-control-next, .carousel-control-prev{
    opacity: 0.8;
}